.whole {
  background-color: black;
  height: auto;
  border: 2px solid red;
}

.name {
  color: white;
  font-family: 'Raleway';
  font-size: 5vw;
  margin: 10px 0px 0px 0px;
}

.image {
  width: 40%;
  border-radius: 10px;
}

.cues {
  text-align: left;
  color: white;
  font-family: 'Raleway';
}

.guest {
  color: white;
  font-family: 'Raleway';
}

@media only screen and (min-width:760px) {
  .name {
    font-size: 5vw;
    margin: 10px 0px 0px 0px;
  }

  .cues {
    font-size: 3vw;
  }
}

@media only screen and (min-width:1250px) {
  .whole {
    height: 130vh;
  }

  .name {
    color: white;
    font-size: 3.25vw;
    margin: 30px 0px 0px 0px;
  }

  .image {
    width: 20%;
    border-radius: 10px;
  }

  .cues {
    font-size: 1.5vw;
  }
}