.whole {
background-color: black ;  
height: 90vh;
border: 2px solid rgb(167, 167, 167);
}
.name {
  color: white;
  font-family: 'Raleway';
  font-size: 5vw;
  margin: 10px 0px 0px 0px;
}

.category {
  color: white;
  font-family: 'Raleway';}

.image {
  width: 40%;
  border-radius: 10px;
}

.cues {
  text-align: left;
  color: white;
  font-family: 'Raleway';

}