.whole {
background-color: rgb(167, 167, 167) ;  
height: 90vh;
border: 2px solid rgb(167, 167, 167);
}
.name {
  color: white;
  font-family: 'Raleway';

}

.category {
  color: white;
  font-family: 'Raleway';}

.image {
  width: 50%;
  text-align: right;
  /* max-height: 400px; */
  border-radius: 10px;
}

.cues {
  text-align: left;
}