.whole {
  margin: 10px 0px;
  border: 2px solid orange;
  overflow-y: scroll;
  max-height: 87.5vw;
}

.container {
  border: 2px solid black;
  background-color: rgb(162, 65, 162);;
  margin: 0px 70px;
  border-radius: 2px;
}

.time {
  font-size: 3vw;
  margin: 1px
}

.title {
  font-size: 3vw;
  margin: 5px 0px;
  padding: 0px 5px;
}

.content {
  margin: 5px 0px;
  font-size: 3vw;
}

.delete {
  text-decoration: underline;
  /* background-color: rgb(177, 69, 177); */
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 2vw;
}

.edit_delete {
  /* border: 2px solid yellow; */
}