.whole {
  background-color: black;
  padding: 10px 0px;
  /* margin: 10px 0px; */
  overflow-y: scroll;
  max-height: 30vh;
}

.test {
  border: 4px solid pink;
  max-height: 10px;
}

.container {
  border: 2px solid black;
  background-color: rgb(162, 65, 162);
  ;
  margin: 0px 70px 10px 70px;
  border-radius: 5px;
}

.time {
  font-size: 3vw;
  margin: 1px;
}

.title {
  font-size: 3vw;
  margin: 5px 0px;
  padding: 0px 5px;
}

.content {
  margin: 5px 0px;
  font-size: 3vw;
}

.delete {
  text-decoration: underline;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 2vw;
  padding: 3px 1px;
  margin: 10px 30px 42px 30px;
}

.edit_delete {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 1px 0px;
  margin: 0px 0px;
}

.edit_delete>button {
  grid-column: 2;
}

.edit_delete>div {
  grid-column: 1;
}

@media only screen and (min-width:760px) {
  .whole {
    height: 30vh;
    padding: 30px 0px;

  }

  .container {
    font-family: 'Roboto', sans-serif;
    border: 2px solid black;
    background-color: rgb(162, 65, 162);
    margin: 0px 70px 10px 70px;
    border-radius: 5px;
  }

  .time {
    font-size: 3.25vw;
    margin: 1px;
  }

  .title {
    font-size: 3vw;
    margin: 5px 0px;
    padding: 0px 5px;
  }

  .content {
    margin: 5px 0px;
    font-size: 3vw;
  }

  .delete {
    font-size: 2.25vw;
    padding: 3px 1px;
    margin: 10px 90px 42px 90px;
  }
}

@media only screen and (min-width:1250px) {
  .whole {
    margin: 10px 0px;
    overflow-y: scroll;
    /* max-height: 30vh; */
  }

  .container {
    border: 2px solid black;
    background-color: rgb(162, 65, 162);
    /* margin: 0px 80px 10px 80px; */
    border-radius: 5px;
    /* padding: 30px 0px; */
  }

  .time {
    font-size: 2vw;
    margin: 1px;
  }

  .title {
    font-size: 2vw;
    margin: 5px 0px;
    padding: 0px 5px;
  }

  .content {
    margin: 5px 0px;
    font-size: 2vw;
  }

  .delete {
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 3px 1px;
    width: 40%;
    margin: 10px 00px 42px 220px;
    font-size: 1.5vw;
  }

  .edit_delete {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 1px 0px;
    margin: 0px 0px;
    font-size: 1vw;
  }
}