.whole {
  border: 2px solid cyan
}

.container {
  border: 2px solid black;
  margin: 0px 90px;
  border-radius: 10px;
}

.time {
  font-size: 3vw;
  margin: 1px
}

.title {
  font-size: 3vw;
  margin: 5px 0px;
  padding: 0px 5px;
}

.content {
  margin: 5px 0px;
  font-size: 3vw;
}