.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  border: 2px solid black;
  background: lightgray;
}

.a {
  display: flex;
  justify-content: flex-end;
  width: 4%;
  height: 3%;
}

.link {
  display: flex;
  justify-content: flex-end;
  padding: 10px 30px;
  width: 60%;
  height: 60%;
}

.git {
  padding: 10px 30px;
  width: 60%;
  height: 60%;
}

@media only screen and (min-width:750px) {
  .a {
    width: 4%;
    height: 4%;
  }
}


@media only screen and (min-width:1250px) {
  .footer {
    width: 100%;
  }
  
  .a {
    width: 2.5%;
    height: 2.5%;
  }
}
