.footer {
  position: absolute;
  bottom: 0;

  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  border: 4px solid black;
  background: lightgray;
}

.a {
  display: flex;
  justify-content: flex-end;
  width: 8%;
  height: 4%;
}

.link {
  display: flex;
  justify-content: flex-end;
  padding: 10px 30px;
  width: 60%;
  height: 60%;
}

.git {
  padding: 10px 30px;
  width: 60%;
  height: 60%;
}

/* iPad Mini */
@media only screen and (min-width:760px) {

}



@media only screen and (min-width:1250px) {
}