@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Poller+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Poller+One&family=Roboto:wght@300&display=swap');

.whole {
  background-image: url("https://images.pexels.com/photos/6455928/pexels-photo-6455928.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: 75% 25%;
  background-repeat: none;
  opacity: 0.95;
  border: 2px solid #e3985a;
  height: 100vh;

  /* object-fit: contain no-repeat;

  object-position: 25% 75%; */
  /* width: 100%; */
}
/* .whole>img {
  width: 100%;
  height: 100%;
  object-fit: contain no-repeat;
  object-position: 75% 25%;
} */
/* The Art of League:  */

.welcome {
  font-size: 12vw;
  margin: 20px 0px;
  /* color: #1e0233; */
  /* color: purple; */
  color: rgb(150, 11, 114);
  font-family: 'Orbitron', sans-serif;
}

.username {
  border-radius: 7px;
  margin: 20px 0px;
  font-size: 7vw;
}

.password {
  border-radius: 7px;
  font-size: 7vw;
  margin: 20px 0px;
}

.login {
  border-radius: 7px;
  font-size: 7.5vw;
  margin: 20px 0px;
  text-decoration: underline;
  background-color: purple;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  /* background-color: transparent; */
  /* background-color: #E7D3CC; */

}

.register {
  border-radius: 7px;
  font-size: 6vw;
  margin: 50px 10px 20px 0px;
  /* background-color: transparent; */
  font-family: 'Roboto', sans-serif;
  text-decoration: underline;
  color: white;
  background-color: black;
  font-weight: bold;
  /* background-color: #E7D3CC; */
}

.guest {
  border-radius: 7px;
  font-size: 6vw;
  margin: 80px 0px 0px 10px;
  color: white;
  font-weight: bold;

  background-color: black;
  /* background-color: transparent; */
  font-family: 'Roboto', sans-serif;
  text-decoration: underline;

  /* background-color: #E7D3CC; */
}

.nonusers {
  margin: 150px 0px;
}