.whole {
  border: 2px solid pink;
  background-color: #895575;
  height: 100vh;
  width: 100%;
}

/* The Art of League:  */

.welcome {
  font-size: 10vw;
  margin: 20px 0px;
  color: #1e0233;
  font-family: "Avenir";
}

.username {
  border-radius: 7px;
  margin: 20px 0px;
  font-size: 7.5vw;
}

.password {
  border-radius: 7px;
  font-size: 7.5vw;
  margin: 20px 0px;
}

/* .form_data {
  margin: 10px;
  border: 2px solid purple;
  background-color: #E7D3CC;
  background-color: #895575;
  background-color: #1e0233;
    background-color: #342D50;

} */

.login {
  border-radius: 7px;
  font-size: 7.5vw;
  margin: 20px 0px;
  background-color: #E7D3CC;
}

.register {
  border-radius: 7px;
  font-size: 7.5vw;
  margin: 50px 0px 20px 0px;
  background-color: #E7D3CC;
}

.guest {
  border-radius: 7px;
  font-size: 7.5vw;
  margin: 80px 0px;
  background-color: #E7D3CC;
}
