/* Default Phone view (iPhone 6/7/8) */
html,
body {
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

.whole {
  display: flex;
  flex-direction: column;
  background-image: url("https://images.pexels.com/photos/6455928/pexels-photo-6455928.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: center center;
  background-repeat: none;
  opacity: 0.95;
  border: 2px solid black;
  height: 100vh;
  padding: 0;
}

.welcome {
  font-size: 10vw;
  margin: 20px 0px;
  color: rgb(150, 11, 114);
  font-family: 'Orbitron', sans-serif;
  margin-left: 15%;
  margin-right: 15%;
}

.username {
  border-radius: 6.25px;
  margin: 20px 0px;
  margin-left: 18%;
  margin-right: 18%;
  font-size: 7vw;
}

.password {
  border-radius: 6.25px;
  font-size: 7vw;
  margin: 20px 0px;
  margin-left: 18%;
  margin-right: 18%;
}

.login {
  border-radius: 7px;
  font-size: 4.5vw;
  margin: 20px 0px;
  margin-left: 36%;
  margin-right: 36%;
  background-color: purple;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.dead_space {
  border: 1px solid transparent;
  margin: 22%
}

.nonusers {
  display: flex;
  flex-direction: column;
  padding: 0px 100px;
}

.register {
  border-radius: 7px;
  font-size: 4.5vw;
  margin-bottom: 5%;
  font-family: 'Roboto', sans-serif;
  text-decoration: underline;
  color: white;
  background-color: black;
  font-weight: bold;
}

.guest {
  border-radius: 7px;
  font-size: 4.5vw;
  margin-top: 5%;
  color: white;
  font-weight: bold;
  background-color: black;
  font-family: 'Roboto', sans-serif;
  text-decoration: underline;
}



/* View for iPad mini*/

@media only screen and (min-width:760px) {
  .welcome {
    height: none;
    font-size: 9vw;
  }

  .username {
    margin: 20px 0px;
    font-size: 4vw;
    margin-left: 25%;
    margin-right: 25%;
  }

  .password {
    margin: 20px 0px;
    font-size: 4vw;
    margin-left: 25%;
    margin-right: 25%;
  }

  .login {
    font-size: 3.75vw;
    margin: 20px 0px;
    text-decoration: underline;
    margin-left: 40%;
    margin-right: 40%;
  }

  .dead_space {
    /* margin: 25% */
  }

  .nonusers {
    font-size: 5vw;
    margin: 0px;
    padding: 0px 200px;
  }

  .register {
    font-size: 3.75vw;
  }

  .guest {
    font-size: 3.75vw;
  }
}

@media only screen and (min-width:1050px) {
  .whole {
    height: 200vh;
    /* background-position: 50% 50%; */
  }

  .welcome {
    font-size: 7vw;
  }

  .username {
    margin: 20px 0px;
    font-size: 3vw;
    margin-left: 34%;
    margin-right: 34%;
  }

  .password {
    font-size: 3vw;
    margin: 20px 0px;
    margin-left: 34%;
    margin-right: 34%;
  }

  .login {
    display: flex;
    justify-content: center;
    font-size: 3vw;
    padding: 0px 10px;
    margin: 20px 0px;
    margin-left: 40%;
    margin-right: 40%;
  }

  .dead_space {
    margin: 27%
  }

  .nonusers {
    padding: 0px 375px;
  }

  .register {
    font-size: 3vw;
  }

  .guest {
    font-size: 3vw;
  }
}


@media only screen and (min-width:1400px) {
  .whole {
    height: 150vh;
    background-position: 50% 50%;
  }

  .welcome {
    font-size: 6vw;
  }

  .username {
    margin: 20px 0px;
    font-size: 2.25vw;
    margin-left: 38%;
    margin-right: 38%;
  }

  .password {
    font-size: 2.25vw;
    margin: 20px 0px;
    margin-left: 38%;
    margin-right: 38%;
  }

  .login {
    display: flex;
    justify-content: center;
    font-size: 2vw;
    padding: 0px 10px;
    margin: 20px 0px;
    margin-left: 45%;
    margin-right: 45%;
  }

  .dead_space {
    margin: 5%
  }

  .nonusers {
    /* padding: 0px 300px; */

  }

  .register {
    margin-left: 30%;
    margin-right: 30%;
    font-size: 2vw;
  }

  .guest {
    margin-left: 30%;
    margin-right: 30%;
    font-size: 2vw;
  }
}