form {
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0px 100px;
  padding: 0px 5px;
}

.content {
  margin: 0px 100px;
  padding: 5px;
}

.button {
  margin: 5px 170px 0px 170px;
  text-decoration: underline;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 3vw;
  color: black;
  padding: 2px 0px;
}
